.git/

# For the jujutsu stans out there.
.jj/

# Rust / Cargo
/target

# Ignore .envrc; copy from .envrc.example to get started
.envrc
.direnv/

# ignore nix builds
/result

# archives for test_data/
*.tar
*.tar.gz
*.sqlite
*.sqlite3
*.dump
*.bin
test_data/archives/
test_data/ephemeral-storage/
